<!DOCTYPE html>
<html>
<head>
    <title>CV</title>
</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
    <meta charset="utf-8">
    <h1>Work Experience</h1>
    <div class="publication">
        <h2>23andme</h2>
        <p><strong>Position:</strong> Data Scientist</p>
        <p><strong>Duration:</strong> 2021 - Present</p>
        <p><strong>Location:</strong> Sunnyvale, CA</p>
        <p><strong>Responsibilities:</strong> I build compute and analyses pipelines for genomic assays.</p>
    </div>
    <div class="publication">
        <h2>Stanford University</h2>
        <p><strong>Position:</strong> Postdoctoral Research Fellow / Instructor - Sleep Medicine</p>
        <p><strong>Duration:</strong> 2015 - 2021</p>
        <p><strong>Location:</strong> Stanford, CA</p>
        <p><strong>Responsibilities:</strong> I worked on high throughput proteomics and immunogenetics.</p>
    </div>
    <div class="publication">
        <h2>Karolinska Institutet</h2>
        <p><strong>Position:</strong> Phd Student - Clinical Immunology & Transplantation</p>
        <p><strong>Duration:</strong> 2013 - 2015</p>
        <p><strong>Location:</strong> Stockholm, Sweden</p>
        <p><strong>Responsibilities:</strong> I evaluated immune mechanisms of Influenza vaccination</p>
    </div>
