<!DOCTYPE html>
<html>
<head>
    <title>Adityas Webpage</title>
</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
    <meta charset="utf-8">
    <h1>Welcome to Aditya's Webpage</h1>
    <a href="https://scholar.google.se/citations?user=Y7wiSGAAAAAJ&hl=en">
        <img src="/static/scholar.png" alt="gscholar" class="center", width="40", height="40">
    </a>
    <a href="https://www.researchgate.net/profile/Aditya_Ambati">
        <img src="/static/RGate.png" alt="rgate" class="center", width="40", height="40">
    </a>
    <a href="https://www.linkedin.com/in/adiamb">
        <img src="/static/LinkedIn.png" alt="LI" class="center", width="40", height="40">
    </a>
    <a href="https://github.com/adiamb">
        <img src="/static/github.svg" alt="git" class="center", width="40", height="40">
    </a>
    <p>I am a data scientist at 23andme product R&D, I build compute and analyses pipelines for genomic assays. Previously, I spent close to 7 years at Stanford University, doing academic research in immunogenetics, sleep genetics and high throughput protoemics </p>
    <p><a href="/publications">Publications</a></p>
    <p><a href="/projects">Projects</a></p>
    <p><a href="/about">About me</a></p>
    <p><a href="/cv">CV</a></p>
    <p><a href="/contact">Contact</a></p>
</body>
</html>
